---
layout: default
title: Projects
---

<div class="intro">
  <h1 class="intro-message">Welcome to my website!</h1>
  <img src="public/favicon-310.png" class="headshot">
</div>

<p>Add contact info here?</p>
<br>
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    {% if post.imagepath %}
      <img src="{{ site.url }}{{ site.baseurl }}{{post.imagepath}}">
    {% endif %}
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>
    {{ post.subtitle }}
  </div>
  {% endfor %}
</div>
