---
layout: default
title: Projects
---

<div class="intro">
  <h1 class="intro-message">Welcome!</h1>
  <img src="http://www.gravatar.com/avatar/960f4393e77ddf278ce3bde51169a14a" class="headshot">
</div>

<br>
<p>I'm a computer science and economics student at the University of Massachusetts Amherst. Currently I am working as a software engineer intern at Lockheed Martin Space working on the software for a satellite tech demo for the summer. I am interested in machine learning / AI and am working on some projects to learn more, which I talk a little about on this website.</p>
<br>
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    {% if post.imagepath %}
      <img src="{{ site.url }}{{ site.baseurl }}{{post.imagepath}}" height="200px" width="200px">
    {% endif %}
    <h1 class="post-title">
      {% if post.external_link %}
        <a href="{{post.external_link}}">
          {{ post.title }}
        </a>
      {% else %}
        <a href="{{ post.url | absolute_url }}">
          {{ post.title }}
        </a>
      {% endif %}
    </h1>
    {{ post.subtitle }}
  </div>
  {% endfor %}
</div>
